<div class="row">
  <div class="col-xs-12">
    <p>Add New Servers or Server Blueprints...!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <input
      type="text"
      class="form-control"
      #serverNameInput>
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
    <input
      type="text"
      class="form-control"
      #serverContentInput>
    <br>
    <button
      class="btn btn-success"
      (click)="onAddServer(serverNameInput)">Add Server
    </button>
    <button
      class="btn btn-success"
      (click)="onAddBlueprint(serverNameInput)" style="margin: 15px;">Add Server Blueprint
    </button>
  </div>
</div>
